<!DOCTYPE html>
<html lang="en">
      <%- include("./partials/head.ejs", {title: "All Teas"}) %>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <h1>All Teas</h1>
    <div id="tea-container"></div>
    <% allTeas.map(tea => { %>
      <a href="/teas/<%= tea._id %>">
    <div class="tea-card">
      <h4 class="font-green"><%= tea.name %></h4>
      <p><strong class="font-green">Size:</strong> <%= tea.size %></p>
      <p><strong class="font-green">Description:</strong> <%= tea.description %></p>
      <img src="<%= tea.teaImage %>" alt="<%= tea.name %>" />
    </div>
  </a>
    <% }) %>
  </body>
</html>
