<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <h1>All Teas</h1>
    <% allTeas.map(tea => { %>
    <div>
      <h4><%= tea.name %></h4>
      <p><strong>Size:</strong> <%= tea.size %></p>
      <p><strong>Description:</strong> <%= tea.description %></p>
      <img src="<%= tea.teaImage %>" alt="<%= tea.name %>" />
    </div>
    <% }) %>
  </body>
</html>
